body{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120vh;
  background-color: whitesmoke;
}

#calculator{
  font-family: cursive,sans-serif,"Century Schoolbook L";
  background-color: black;
  border-radius: 15px;
  max-width: 500px;
  overflow: hidden;
}
#display{
  width: 100%;
  padding: 20px;
  font-size: 5rem;
  text-align: left;
  border: none;
  background-color: dimgray ;
  color: white;
}

#keys{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 25px;
}

button{
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: none;
  background-color: gray;
  color: #ffff;
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
}

button:hover{
  background-color: gray;
}
button:active {
  background-color: gray;
}
.operator-bt{
  background-color: orange;
}
.operator-bt:hover{
  background-color: goldenrod;
}
.operator-bt:active{
  background-color: bisque;
}
